@media screen and (min-width: 992px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; } }

.stickySide {
  position: -webkit-sticky;
  position: sticky;
  top: 100px; }

a {
  color: #0072bc; }

.primary-dark {
  color: #6aabe5; }

header {
  background-color: #121424;
  height: 90px;
  width: 100%;
  padding-top: 12px;
  color: #fff; }
  header .header-subscribe p {
    margin-bottom: 4px; }
  header .header-subscribe span {
    color: #2b8a3e; }
  header .header-subscribe input {
    background-color: #313238;
    outline: none;
    border: none;
    color: white; }
    header .header-subscribe input:focus {
      background-color: #313238;
      box-shadow: none;
      color: white; }
  header .header-subscribe .sub-btn {
    background-color: #2b8a3e;
    color: white;
    outline: none !important;
    border: none !important; }
  header .header-banner {
    margin-left: 10px;
    padding-top: 5px; }

.submit-controls .btn:hover {
  color: #007cab;
  box-shadow: 1px 3px 5px 0px rgba(40, 37, 104, 0.17);
  background-color: #00aeef;
  border: none; }

nav {
  background-color: white; }
  nav .custom-nav {
    text-transform: uppercase; }
  nav .navbar {
    padding-bottom: 0; }
  nav .navbar-light .navbar-nav .nav-link {
    color: #323648;
    white-space: nowrap; }
    nav .navbar-light .navbar-nav .nav-link:hover {
      color: #00aeef; }
  nav .navbar-light .navbar-nav .active .nav-link {
    color: #00aeef;
    border-bottom: 3px solid #00aeef;
    margin-bottom: 0; }
  nav .s-wrapper {
    border-left: solid #323648 1px;
    padding-bottom: 4px; }
    nav .s-wrapper .material-icons {
      padding-left: 2px; }
  nav .search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    outline: none;
    outline-style: none;
    border: none;
    padding-left: 5px; }
    nav .search .search-input {
      background-color: transparent;
      color: #323648;
      outline: none;
      outline-style: none;
      border-top: none;
      border-left: solid #323648 1px;
      border-right: none;
      border-bottom: none;
      padding: 0px 10px; }

.sub-nav {
  background-color: #d9e5f4;
  white-space: nowrap; }
  .sub-nav .sub-nav-menu {
    font-size: 0.95em; }
    .sub-nav .sub-nav-menu ul {
      list-style: none; }
      .sub-nav .sub-nav-menu ul li {
        margin-left: 10px;
        white-space: nowrap; }

.jumbo {
  width: 100%;
  height: 250px;
  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
  color: white; }
  .jumbo .visit-btn {
    padding: 10px 70px; }
  .jumbo .jumbo-p {
    line-height: 1em; }
  .jumbo .reviews ul {
    list-style: none; }
    .jumbo .reviews ul li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end; }
      .jumbo .reviews ul li .rew-title {
        position: relative;
        width: 100%;
        background: #6aabe5;
        border-radius: 4px;
        height: 2px;
        margin-top: 26px; }
        .jumbo .reviews ul li .rew-title .rew-title-name {
          z-index: 2;
          position: relative;
          font-weight: 400;
          font-size: 12px;
          margin-top: -19px;
          color: #6aabe5; }
          .jumbo .reviews ul li .rew-title .rew-title-name .fill {
            background: #fff;
            margin-top: 2px;
            z-index: 10; }
      .jumbo .reviews ul li .rew-rating {
        font-size: 1.2em; }
      .jumbo .reviews ul li p {
        margin: 0;
        margin-left: 6px;
        font-size: 0.8em; }

.card-main {
  background-color: white;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0px 1px 3px 0px rgba(40, 37, 104, 0.17);
  font-weight: 700; }
  .card-main .card-title {
    height: 60px;
    margin: 0px;
    border-bottom: 1px solid #e4dcec;
    padding: 20px;
    width: 100%; }
  .card-main .card-body-main {
    font-weight: normal;
    padding: 20px;
    border-left: 1px solid #e4dcec;
    position: relative; }
    .card-main .card-body-main .btn:hover {
      color: #007cab;
      box-shadow: 1px 3px 5px 0px rgba(40, 37, 104, 0.17);
      background-color: #00aeef;
      border: none; }
    .card-main .card-body-main #news {
      border-radius: 4px; }
    .card-main .card-body-main p .date {
      font-size: 10px; }
    .card-main .card-body-main:first-child {
      border-left: none; }
    .card-main .card-body-main .news-img {
      width: 100%; }
    .card-main .card-body-main .bonus-details {
      font-size: 0.8em; }
  .card-main .gallery {
    padding: 0; }
  .card-main .add-review {
    padding: 20px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: center; }

.bonus-title h5 {
  font-size: 14px; }

.bonus-title h4 {
  font-size: 20px; }

.bonus-title h2 {
  font-size: 36px; }

.bonus-title p {
  font-size: 16px; }

.sidebar-header {
  padding-left: 10px;
  padding-right: 10px; }
  .sidebar-header .btn-primary:hover {
    color: #007cab;
    box-shadow: 1px 3px 5px 0px rgba(40, 37, 104, 0.17);
    background-color: #00aeef;
    border: none; }
  .sidebar-header .collapse-btn {
    border-bottom: 1px solid #d4d4e5;
    border-radius: 0; }

.panel-title .fa {
  transition: .3s transform ease-in-out; }

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
  display: flex; }

/* smoother transitions */
.carousel-inner > .carousel-item.next.left,
.carousel-inner > .carousel-item.prev.right {
  transition: all 1s ease; }

.no-border-left {
  border-left: 0; }

.divider-btm {
  border-bottom: 1px solid #e4dcec; }

.card-body-m {
  font-weight: normal;
  padding: 20px;
  position: relative; }

.avatar img {
  border-radius: 50%; }

#ex1Slider .slider-selection {
  background: #bababa; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0092c9;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0092c9;
  cursor: pointer; }

.brd {
  border-top: 1px solid #d9e5f4;
  border-top-width: 80%; }

.table-head tr th {
  border-top: none;
  border-bottom: none; }

footer {
  width: 100%;
  background-color: #d9e5f4; }

@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px; }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static; }
  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 40px; }
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block !important; }
  .navbar .dropdown-menu {
    box-shadow: 0px 1px 3px 0px rgba(40, 37, 104, 0.17);
    background-color: #fff; } }

.my-nav li {
  padding: 5px 10px; }
  .my-nav li:first-child {
    padding-top: 20px; }

.dropdown-article {
  text-transform: none;
  cursor: pointer; }
  .dropdown-article:hover {
    box-shadow: 0px 1px 3px 0px rgba(40, 37, 104, 0.17); }
  .dropdown-article .drp-title {
    font-size: 12px; }
  .dropdown-article .drp-desc {
    line-height: 0.8em; }

#text-area {
  background-color: #f3f7fb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

#progress-wrapper {
  background-color: #6aabe5; }

.panel-title a:not(.collapsed) {
  color: #6aabe5;
  font-weight: bold; }

.panel-title a:hover {
  color: #6aabe5;
  font-weight: bold; }

.panel-title .collapsed {
  color: #323648; }

.bonus-desc p {
  max-height: 230px;
  overflow-y: scroll; }

.bonus-desc button {
  padding: 8px 16px;
  box-shadow: 1px 3px 5px 0px rgba(40, 37, 104, 0.17); }

.collapsed .fa {
  transform: rotate(180deg); }
